@font-face {
    font-family: 'TTHoves-reg';
    src: url(font/TTHoves/TTHoves-Regular.eot);
}

@font-face {
    font-family: 'TTHoves-light';
    src: url(font/TTHoves/TTHoves-Light.eot);
}

@font-face {
    font-family: 'TTHoves-bold';
    src: url(font/TTHoves/TTHoves-Bold.eot);
}

@font-face {
    font-family: 'SFPD-bold';
    src: url(font/SFPD/SF-Pro-Display-Bold.otf);
}

@font-face {
    font-family: 'SFPD-reg';
    src: url(font/SFPD/SF-Pro-Display-Regular.otf);
}

@font-face {
    font-family: 'SFPD-light';
    src: url(font/SFPD/SF-Pro-Display-Light.otf);
}

* {
    margin: 0 auto;
    padding: 0;
    font-family: 'SFPD-reg';
    font-weight: 300;
    text-decoration: none;
    color: #333333;
}

.hidden {
    display: none;
}

/* Общий контейнер */
.container {
    max-width: 1170px;
    width: 100%;
    margin-top: 29px;
}

/* блок с навигацией и лого */
.logo-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
}

/* лого */
.logo {
    margin: 0;
}

/* стили для ссылок в навигации */
.navigation a {
    padding: 0px 30px;
    display: inline-block;
}

.navigation a::after {
    content: "";
    display: block;
    bottom: -3px;
    width: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    height: 1px;
    background-color: #333333;
    transition: width 0.5s, opacity 0.8s;
}

.navigation a::before {
    content: "";
    display: block;
    bottom: -3px;
    width: 0;
    height: 1px;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color: #333333;
    transition: width 0.5s, opacity 0.8s;
}

.navigation a:hover:after,
.navigation a:hover:before {
    width: 100%;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.navigation {
    margin-left: 20%;
    display: flex;
}

footer {
    background-color: #2C2C2C;
    margin-top: 120px;
}

.up-footer {
    padding-top: 58px;
    display: flex;
    align-items: start;
    margin-bottom: 60px;
}

.title-footer {
    color: #ffffff;
    font-size: 16px;
    font-family: 'SFPD-bold';
    padding-bottom: 25px;
}

.information-content {
    display: flex;
    flex-direction: column;
}

.information-content a {
    margin: 0px 0px 16px 0px;
    color: #ffff;
}

.content-contact {
    margin: 0;
    display: flex;
    align-items: center;
    padding-bottom: 32px;
}

.content-contact p {
    margin: 0;
    color: white;
}

.content-contact img {
    padding-right: 19px;
    margin: 0;
}

.content-social {
    display: flex;
}

.content-social a {
    margin-right: 40px;
}

.down-footer {
    border-top: 1px #c8c8c870 solid;
    display: flex;
    justify-content: center;

}

.down-footer p {
    color: #c8c8c86c;
    margin: 24px 0px;
}

.title-gallery {
    font-size: 64px;
    color: #BDBDBD;
    font-family: 'SFPD-light';
    line-height: 64px;
    margin-bottom: 60px;
}

.title-gallery span {
    font-size: 64px;
    color: #333333;
    font-family: 'SFPD-bold';
}




.thumbs {
    width: 100%;
    max-width: 210px;
    margin-bottom: 260px;
    height: 255px;
    opacity: .99;
    overflow: hidden;
    position: relative;
    border-radius: 3px;
    z-index: 1;
  }
  .thumbs:before {
    content: '';
    background: #fbfbfb;
    width: 100%;
    height: 0%;
    opacity: 1;
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 1;
    transition-property: top, opacity;
    transition-duration: 0.3s;
    
  }
.photo{
    background-image: url(/image/g0.png);
    background-position: center;
    background-size: cover;
    transition: 1s;
    width: 100%;
    height: 100%;
    z-index: 300;
}
.photo:hover{
    height: 130px;
}
.photo:hover ~ .caption{
    opacity: 1;
}
.photo:hover ~ .thumbs::before{
    height: 50%;
}
  .thumbs .caption {
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50%;
    color: #333333;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 3;
    text-align: start;
    transition: 1s;
  }
  .thumbs .caption span {
    display: block;
    opacity: 0;
    position: relative;
    top: 100px;
    transition-property: top, opacity;
    transition-duration: 0.3s;
    transition-delay: 0s;
  }
  .thumbs .caption .title {
    font-family: 'SFPD-bold';
    font-size: 12px;
    color: #333333;
    text-align: start;
  }

  .photo:hover ~ .thumbs:focus:before, .thumbs:hover:before {
    top: 50%;
  }

  .gc-up{
    display: flex;
  }
  .gc-down{
    display: flex;
  }
 
