@font-face{
    font-family: 'TTHoves-reg';
    src: url(font/TTHoves/TTHoves-Regular.eot);
}
@font-face{
    font-family: 'TTHoves-light';
    src: url(font/TTHoves/TTHoves-Light.eot);
}
@font-face{
    font-family: 'TTHoves-bold';
    src: url(font/TTHoves/TTHoves-Bold.eot);
}
@font-face{
    font-family: 'SFPD-bold';
    src: url(font/SFPD/SF-Pro-Display-Bold.otf);
}
@font-face{
    font-family: 'SFPD-reg';
    src: url(font/SFPD/SF-Pro-Display-Regular.otf);
}
@font-face{
    font-family: 'SFPD-light';
    src: url(font/SFPD/SF-Pro-Display-Light.otf);
}
*{
    margin: 0 auto;
    padding: 0;
    font-family: 'SFPD-reg';
    font-weight: 300;
    text-decoration: none;
    color: #333333;
}
.hidden{
    display: none;
}
/* Общий контейнер */
.container{
    max-width: 1170px;
    width: 100%;
    margin-top: 29px;
}
/* блок с навигацией и лого */
.logo-navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;
}
/* лого */
.logo{
    margin: 0;
}
/* стили для ссылок в навигации */
.navigation a{
    padding: 0px 30px;
    display: inline-block;
}
.navigation a::after{
	content: "";
    display: block;
    bottom: -3px;
    width: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    height: 1px;
    background-color: #333333;
    transition: width 0.5s, opacity 0.8s;
}
.navigation a::before{
	content: "";
    display: block;
    bottom: -3px;
    width: 0;
    height: 1px;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color: #333333;
    transition: width 0.5s, opacity 0.8s;
}
.navigation a:hover:after,
.navigation a:hover:before{
    width: 100%;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.navigation{
margin-left: 20%;
    display: flex;
}
/* блок с слайдером */
.PROJECT-NURTOWN{
    display: flex;
}
.name-button{
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.name-button h1{
    color: #BDBDBD;
    font-family: 'SFPD-light';
    font-size: 64px;
}
#NURTOWN{
    font-family: 'SFPD-bold';
    font-size: 64px;
}
.button-slider{
    margin: 90px 0px;
}
/* кнопки переключения слайдов и их стили */
#prev,#next{
    width: 53px;
    height: 53px;
    background-color: #ffff;
    border: #F2F2F2 solid 1px;
    transition: 1s;
}
#prev:hover
,#next:hover{
    background-color: #F9F9F9;
}
#prev img{
    transform: scaleX(-1);
}
#prev{
    margin-right: 22px;
}
/* номер слайда */
.num-slides{
    margin: 0;
}
.num-slides h2{
    word-spacing:25px;
    color: #BDBDBD;
}
.num-change{
    
    color: #BDBDBD;
}
/* слайдер */
.slider{
    width: 770px;
    height: 829px;
    z-index: 1;
}
.slide-active{
    opacity: 1;
}
#slide-1, #slide-2{
    position: absolute;
    width: 770px;
    height: 829px;
    transition: opacity 2s ease; 
    z-index: 0;
}

.slider-wrapper button{
    z-index: 2;
    position: absolute;
}
.transition-button{
    text-align: center;
    word-spacing:12px;
    width: 221px;
    height: 71px;
    border: none;
    background-color: white;
    cursor: pointer;
    font-size: 12px;
}
.slider-wrapper{
    margin-left: 69px;
    display: flex;
    align-items: end;
}

.About-Company{
    background-color: #FBFBFB;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 120px;
}
.adout-us h1{
    font-family: 'SFPD-light';
    font-size: 64px;
    color: #BDBDBD;
}
.adout-us p{
    color:black;
    line-height: 25px;
    max-width: 400px;
    margin: 20px 0px;
}
.adout-us{
    margin: 30px 0px 30px 30px;
}
.right-photo{
    display: flex;
    flex-direction: column;
    margin-right: 30px;
}
.right-photo img:first-child{
    margin-bottom: 30px;
}
.photo-office{
    display: flex;
    align-items: center;
    margin: 30px 0px;
}
/* Основные задачи */
.main-task{
    margin-top: 90px;
}
.main-task h1{
    font-size: 64px;
    color: #BDBDBD;
    font-family: 'SFPD-light';
}
.num-task{
    
    display: flex;
    justify-content: space-between;
}
.r-tusk, .l-tusk{
    display: flex;
    align-items: center;
    margin: 0;
}
.big-number{
    font-family: 'SFPD-bold';
    color: #F2F2F2;
    font-size: 200px;
    margin-right: 30px;
}
.text-task{
    font-size: 22px;
}

.title{
    color: #BDBDBD;
    font-family: 'SFPD-light';
    font-size: 64px;
    margin-bottom: 60px;
}
.upper{
    display: flex;
    height: 255px;
    margin-bottom: 30px;
}
.down{
    display: flex;
}
#image-info1{
    margin: 0;
    width: 270px;
    height: 255px;
}
#image-info2{
    margin: 0;
    width: 470px;
    height: 255px;
}
#image-info3{
    margin: 0;
    width: 370px;
    height: 255px;
}
.down > .thumbs:nth-child(2){
    width: 470px;
}
.down > .thumbs:nth-child(1){
    width: 270px;
}
.down > .thumbs:nth-child(3){
    width: 370px;
}

.thumbs {
    width: 100%;
    max-width: 570px;
    margin-bottom: 100px;
    height: 255px;
    opacity: .99;
    overflow: hidden;
    position: relative;
    border-radius: 3px;

  }
  .thumbs:before {
    content: '';
    background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.7) 100%);
    width: 100%;
    height: 50%;
    opacity: 0;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 2;
    transition-property: top, opacity;
    transition-duration: 0.3s;
  }
  .thumbs img {
    display: block;
    width: 100%; /* ширина картинки */
    height: auto; /* высота картинки */
    backface-visibility: hidden;
  }
  .thumbs .caption {
    width: 100%;
    padding: 20px;
    color: #ffff;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 3;
    text-align: start;
  }
  .thumbs .caption span {
    display: block;
    opacity: 0;
    position: relative;
    top: 100px;

    transition-property: top, opacity;

    transition-duration: 0.3s;

    transition-delay: 0s;
  }
  .thumbs .caption .title {
    line-height: 1;
    font-family: 'SFPD-bold';
    font-size: 64px;
    color: white;
    text-align: start;
  }
  .thumbs .caption .info {
    text-align: start;
    line-height: 1.2;
    margin-top: 5px;
    font-size: 12px;
  }
  .thumbs:focus:before,
  .thumbs:focus span, .thumbs:hover:before,
  .thumbs:hover span {
    opacity: 1;
  }
  .thumbs:focus:before, .thumbs:hover:before {
    top: 50%;
  }
  .thumbs:focus span, .thumbs:hover span {
    top: 0;
  }
  .thumbs:focus .title, .thumbs:hover .title {
    transition-delay: 0.15s;
  }
  .thumbs:focus .info, .thumbs:hover .info {
    transition-delay: 0.25s;
  }
  .info-button{
    cursor: pointer;
    text-align: start;
    display: flex;
    font-size: 12px;
    background: none;
    color:white;
    border: none;
    margin: 0;
  }
  .info-image{
    text-align: start;
    padding-left: 12px;
    width: 24px;
    height: 24px;
  }
  .button-container{
    display: flex;
    justify-content: end;
  }
  .button-black{
    font-family: 'SFPD-reg';
    margin: 0;
    line-height: 12px; /* 100% */
    color: white;
    text-align: center;
    width: 221px;
    height: 71px;
    border: none;
    background-color: #333333;
    cursor: pointer;
    font-size: 12px;
  }
  .button-black img{
    margin-left: 12px;
  }

input{
    margin: 0;
    color: black;
    width: 391px;
    height: 45px;
    background-color: #F3F3F3;
    border: none;
    margin-bottom: 10px;
    padding-left: 21px;
}
textarea{
    padding:15px 0px 0px 21px;
    border: none;
    margin: 0;
    width: 391px;
    height: 147px;
    background-color: #F3F3F3;
    margin-bottom: 15px;
}
.checkbox-access{
    display: flex;
    margin: 0;
}
.checkbox-access input{
    width: 24px;
    margin-right: 16px;
}
.access{
    margin: 0;
}
.form{
    display: flex;
    flex-direction: column;
}
.item::-webkit-input-placeholder {
    background: -webkit-linear-gradient(left, #8D8D8D 0%, #8D8D8D 72%,red 0%, red 0%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.name::-webkit-input-placeholder {
    background: -webkit-linear-gradient(left, #8D8D8D 0%, #8D8D8D 72%,red 0%, red 0%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
.phone::-webkit-input-placeholder {
  background: -webkit-linear-gradient(left, #8D8D8D 0%, #8D8D8D 25.2%,red 0%, red 10%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.email::-webkit-input-placeholder {
    background: -webkit-linear-gradient(left, #8D8D8D 0%, #8D8D8D 9%,red 0%, red 10%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
.textarea::-webkit-input-placeholder {
    background: -webkit-linear-gradient(left, #8D8D8D 0%, #8D8D8D 18%,red 0%, red 10%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
.form-and-image{
    display: flex;
    align-items: start;
}

.contact-image{
    margin-left: 30px;
}

.custom-checkbox {
    border-color: none;
    background-color: none;
    width: 24px;
    height: 24px;
    position: absolute;
    z-index: -1;
    opacity: 0;
  }
  .custom-checkbox+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
  }
  .custom-checkbox+label::before {
    content: '';
    display: inline-block;
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    flex-grow: 0;
    border: none;
    margin-right: 0.5em;
    background-color: #F3F3F3;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
  }
  .custom-checkbox:checked+label::before {
    border-color: none;
    background-color: none;
    background-image: url("/image/path.png");
  }
#but{
    margin-top: 21px;
}




.popup-ths{
    display: flex;
    align-items: center;
    width:100%;
    min-height:100%;
    background-color: rgba(0,0,0,0.5);
    overflow:hidden;
    position:fixed;
    top:0px;
    left: 0px;
    right: 0px;
    z-index: 100;
}
.popup-content{
    max-width: 526px;
    padding: 22px 16px;
    background-color:#ffff;
    display: flex;
    flex-direction: column;
}
.close{
    margin: 0;
    display: flex;
    justify-content: end;
    cursor: pointer;
}
.close img{
    margin: 0;
}
.success-text{
    margin: 27px 0px 41px 0px;
    text-align: center;
}
#success-button{
    margin: 0 auto;
    width: 391px;
    height: 42px;
}
.hidden-popup{
    display: none;
}


footer{
    background-color: #2C2C2C;
    margin-top: 120px;
}
.up-footer{
    padding-top: 58px;
    display: flex;
    align-items: start;
    margin-bottom: 60px;
}
.title-footer{
    color: #ffffff;
    font-size: 16px;
    font-family: 'SFPD-bold';
    padding-bottom: 25px;  
}
.information-content{
    display: flex;
    flex-direction: column;
}
.information-content a{
    margin:0px 0px 16px 0px;
    color: #ffff;  
}

.content-contact{
    margin: 0;
    display: flex;
    align-items: center;
    padding-bottom: 32px;
}
.content-contact p{
    margin: 0;
    color: white;
}
.content-contact img{
    padding-right: 19px;
    margin: 0;
}

.content-social{
    display: flex;
}
.content-social a{
    margin-right: 40px;
}

.down-footer{
    border-top: 1px #c8c8c870 solid;
    display: flex;
    justify-content: center ;

}
.down-footer p{
    color: #c8c8c86c;
    margin: 24px 0px;
}